<div class="ms-user clearfix">
    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="img-avatar pull-left">
    <div>Signed in as <br> m-hollaway@gmail.com</div>
</div>

<div class="p-15">
    <div class="dropdown">
        <a class="btn btn-primary btn-block" href="" data-toggle="dropdown">Messages <i class="caret m-l-5"></i></a>

        <ul class="dropdown-menu dm-icon w-100">
            <li><a href=""><i class="fa fa-envelope"></i> Messages</a></li>
            <li><a href=""><i class="fa fa-users"></i> Contacts</a></li>
            <li><a href=""><i class="fa fa-format-list-bulleted"> </i>Todo Lists</a></li>
        </ul>
    </div>
</div>