
    <div class="action-header clearfix">
        <div class="visible-xs" id="ms-menu-trigger">
            <i class="fa fa-bars"></i>
        </div>
        
        <div class="pull-left hidden-xs">
            <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" class="img-avatar m-r-10">
            <div class="lv-avatar pull-left">
                
            </div>
            <span>David Parbell</span>
        </div>
         
        <ul class="ah-actions actions">
            <li>
                <a href="">
                    <i class="fa fa-trash"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-check"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-clock-o"></i>
                </a>
            </li>
            <li class="dropdown">
                <a href="" data-toggle="dropdown" aria-expanded="true">
                    <i class="fa fa-sort"></i>
                </a>
    
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Latest</a>
                    </li>
                    <li>
                        <a href="">Oldest</a>
                    </li>
                </ul>
            </li>                             
            <li class="dropdown">
                <a href="" data-toggle="dropdown" aria-expanded="true">
                    <i class="fa fa-bars"></i>
                </a>
    
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Refresh</a>
                    </li>
                    <li>
                        <a href="">Message Settings</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>